body, html {
    margin: 0;
    padding: 0;
    font-family: 'Cinzel', serif;
    background-color: #f6efe5;
    color: #4b2e1d;
}

.user-library {
    background-color: #f6efe5;
    padding: 40px 20px;
    text-align: center;
}

.user-library h1 {
    font-size: 3rem;
    color: #4b2e1d;
    margin-bottom: 20px;
}

.movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    justify-items: center;
}

.movie-link {
    display: block;
    width: 100%;
    text-decoration: none;
    color: inherit;
}

.movie-card {
    background: #e8dcc2;
    padding: 10px;
    border: 2px solid #b8946e;
    border-radius: 8px;
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease, border-color 0.4s ease;
    min-height: 450px; /* Asegura que todas las tarjetas tengan la misma altura mínima */
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.movie-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-color: #d96512;
}

.movie-image-container {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.movie-image-container img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.movie-card:hover .movie-image-container img {
    transform: scale(1.05);
}

.movie-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4b2e1d;
    margin: 10px 0;
    min-height: 50px;
}

.movie-status, .movie-format {
    font-size: 1rem;
    color: #4b2e1d;
    margin: 5px 0;
    min-height: 20px;
}
